.detail {
  width: 100%;

  @media (max-width: 840px) {
    margin-top: 100px;
  }

  .container {
    padding: 0 70px;

    @media (max-width: 730px) {
      padding: 0 20px;
    }

    .detail-card {
      .row {
        display: flex;

        @media (max-width: 690px) {
          display: block;
        }

        .col {
          &:nth-child(1) {
            display: flex;
            padding-right: 100px;

            @media (max-width: 690px) {
              padding-right: 0;
            }

            .image {
              width: calc($index * 24);
              height: 72vh;
              background-repeat: no-repeat;
              background-size: cover;

              @media (max-width: 970px) {
                width: calc($index * 20);
              }

              @media (max-width: 690px) {
                width: calc($index * 27);
                margin-left: calc(($index * 27 / 4));
              }

              @media (max-width: 500px) {
                margin-left: calc(($index * 27 / 6));
                height: 50vh;
              }

              @media (max-width: 400px) {
                margin-left: calc(($index * 27 / 8));
              }

              @media (max-width: 390px) {
                margin-left: 0
              }

              @media (max-width: 690px) {
                margin-bottom: 50px;
              }
            }
          }

          &:nth-child(2) {
            p {
              margin-bottom: 10px;

              @media (max-width: 690px) {
                margin-bottom: 20px;
              }
            }

            .stars {
              display: flex;
              line-height: calc($index * 2);

              img {
                height: calc($index * 2);

                @media (max-width: 500px) {
                  height: calc($index * 3);
                }
              }

              .svg {
                margin-left: 10px;
                margin-top: 3px;
              }

              p {
                margin-left: 10px;
                text-decoration: underline;
              }
            }

            .title {
              padding-bottom: 10px;
              border-bottom: 1px solid #E0E0E0;

              h2 {
                margin-bottom: 10px;

                &:nth-child(2) {
                  color: var(--333333, #333);

                  @media (max-width: 690px) {
                    color: var(--eb-5757, #EB5757);
                  }
                }
              }
            }

            .colors {
              margin-top: 10px;

              p {
                font-weight: 500;
              }

              .cards {
                img {
                  width: calc($index * 3);
                  padding: 10px 5px;
                  border: 1px solid #d6c9c9;

                  @media (max-width: 450px) {
                    width: calc($index * 5);
                    padding: 10px 10px;
                    margin-right: 20px;
                  }
                }
              }
            }

            .size {
              margin-top: 10px;

              p {
                font-weight: 500;
                padding-bottom: 5px;
              }

              .btns {
                display: flex;

                button {
                  margin-right: 10px;
                  padding: 11px 11px;
                  background: #fff;
                  border: 0;

                  &:nth-child(1) {
                    background: #000;
                    border: 0;
                    color: #fafafa;
                  }
                }
              }
            }

            .buttons {
              margin-top: 50px;

              .button {
                margin-bottom: 10px;

                &:nth-child(2) {
                  button {
                    background: #fff;
                    color: var(--Red, #EB5757);
                    font-weight: 500;
                  }
                }

                button {
                  padding: calc($index * .8) calc($index * 4);
                  background: var(--Red, #EB5757);
                  border: 1px solid var(--Red, #EB5757);
                  color: #fff;
                  font-size: calc($index * .8);

                  @media (max-width: 600px) {
                    padding: 0;
                    width: 100%;
                    height: calc($index * 4);
                    font-size: calc($index * 1);
                  }
                }
              }
            }
          }
        }
      }
    }

    .bottom {
      .description {
        margin-top: 20px;
        margin-bottom: 50px;

        h2 {
          margin-bottom: 20px;
        }

        p {
          width: calc($index * 40);
        }
      }
    }

    .stats {
      display: flex;

      ul {
        margin-right: 50px;

        li {
          margin-bottom: 5px;
          font-size: calc($index * .8);
          font-weight: 500;

          @media (max-width: 690px) {
            font-size: calc($index * 1.2);
          }
        }
      }
    }

    .items {
      margin-top: 50px;

      .item {
        h2 {
          margin-top: 50px;
          margin-bottom: 50px;
        }

        .cards {
          margin-bottom: 40px;
          width: 100%;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          justify-content: center;
  
          @media (max-width: 950px) {
            grid-template-columns: repeat(3, 1fr);
          }
  
          @media (max-width: 550px) {
            grid-template-columns: repeat(2, 1fr);
          }
  
          @media (max-width: 400px) {
            grid-template-columns: repeat(2, calc($index * 12));
  
            div {
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }
}